.navbar {
    justify-content: space-evenly;
  
    &__logo {
      max-width: 150px;
    }
  
    &__link {
      border-bottom : 0px solid;
      transition    : all 100ms;
      padding-bottom: .25em;
  
      &:hover {
        border-bottom: 4px solid #faa538;
      }
    }
  }
  
  li {
    list-style-type: none;
  }