// Colour Palette
$lightPurple: hsl(276, 79%, 58%);
$darkPurple: hsl(276, 91%, 31%);
$lightRed: hsl(5, 100%, 64%);
$darkRed: hsl(0, 50%, 53%);
$yellow: hsl(43, 100%, 63%);
$silver: hsl(227, 50%, 89%);

// Shades
$darkerPurple: hsl(276, 96%, 21%);
$darkestPurple: hsl(276, 100%, 11%);

// Tints
$lighterPurple: hsl(276, 89%, 68%);
$lightestPurple: hsl(276, 100%, 88%);

$darkYellow: hsl(43, 75%, 49%);
$darkerYellow: hsl(43, 75%, 39%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px